<% if (message) { %>
    <div class="container mx-auto py-8 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-8"
        role="alert">
        <%= message %>
    </div>
    <% } %>
        <% if (domain) { %>
            <h2 class="text-2xl font-bold mb-4">
                DNS Records for <%= domain %>
            </h2>
        <button id="show-hide-button" onclick="showAllDescriptions()"
            class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">
            Show descriptions
        </button>


            <table class="table-fixed w-full">
                <thead>
                    <tr>
                        <th class="w-1/4 px-4 py-2">Record Type</th>
                        <th class="w-3/4 px-4 py-2">Record Data</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (const type in records) { %>
                        <% if (records[type].length> 0) { %>
                            <tr>
                                <td class="border px-4 py-2">
                                    <%= type %>
                                </td>
                                <td class="border px-4 py-2">
                                    <%= records[type].join('<br>') %>
                                        <div class="hidden record-description">
                                            <%= getRecordDescription(type) %>
                                        </div>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            
            <% } %>


                <% if (spfIssues && spfIssues.length> 0) { %>
                    <div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative mb-8"
                        role="alert">
                        <strong class="font-bold">SPF Issues:</strong>
                        <ul>
                            <% spfIssues.forEach(function(issue) { %>
                                <li class="list-disc ml-6">
                                    <%= issue %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <% } %>